@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* FONT */
  --FF: "Public Sans", serif;

  /* COLORS */
  --BG-COLOR: #f0f0f0;
  --FONT-COLOR: #252525;
}

/* || UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-family: var(--FF);
  background-color: var(--BG-COLOR);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3rem;
}

/* || FORM */

.weatherForm {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
  gap: 1.5vw;
}

.weatherForm button {
  font-size: clamp(12px, 3.5vw, 20px);
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: hsl(0, 0%, 25%);
  color: white;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
}

.weatherForm button:hover {
  background-color: hsl(0, 0%, 20%);
}

.cityInput {
  font-size: clamp(12px, 3.5vw, 20px);
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
}

.cityInput:focus {
  outline: none;
}

/* WEATHER CARD */

.weatherCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: min(90%, 300px);
  max-width: 300px;
  height: 450px;
  font-size: 1rem;
  background: linear-gradient(rgb(255, 200, 125), rgb(150, 205, 255));
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  word-break: break-word;
  gap: 1.5rem;
}

.initialText {
  font-weight: bold;
  font-style: italic;
}

.weatherCard__h1 {
  font-size: clamp(20px, 10vw, 40px);
  width: 100%;
  overflow-wrap: break-word;
}

.temperatureDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: oblique;
}

.humidityDisplay {
  font-size: 1.5rem;
}

.weatherEmoji {
  font-size: 2.5rem;
}

.errorDisplay {
  color: rgb(150, 25, 25);
  font-weight: bold;
}
